{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [["module-resolver", { "root": ["./src"] }]]
}
