/**
  @nulib custom styles and helper classes which are not tied to any particular application
*/

button.button {
  border-radius: 2px;
}

table {
  caption {
    @extend .has-text-grey;
    @extend .is-italic;
    @extend .is-size-6;
  }
  &.is-fixed {
    table-layout: fixed;
  }
}

.break-word {
  overflow-wrap: break-word;
}
